.homepage-fold-1
  background-image: url('../img/people-drinking-water-blue.jpg')
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height 100vh
  display flex
  justify-content center
  align-items center
  flex-direction column
  font-weight 300
  font-family "Gotham"

  &-title
    font-size: remify(60);
    font-weight: normal;
    line-height: 1.17;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    display block
    box-sizing border-box
    span
      font-weight bold

  &-subtitle
    font-size: remify(23);
    font-weight: normal;
    line-height: 1.83;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    margin-top 20px

  &-button
    font-size remify(17)
    background-color #fcb133
    height 78px
    width 284px
    color white
    text-align center
    box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.41);
    margin-top 20px
    display flex
    align-items center
    justify-content center

    &:hover
      background-color #df9a2e

    span
      margin-right 30px

.homepage-fold-2
  background-color white
  margin-top 50px
  padding-bottom 50px

  &-description
    font-family: "Gotham";
    font-size: remify(32);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0px;
    color: #232323;
    flex-basis 50%

  &-reach
    flex-basis 100%
    margin-top 30px
    display flex
    &-image
      flex-basis 50%
      margin 0
      img
        width 100%
        height auto
    &-description
      flex-basis 50%
      div
        font-family: Gotham;
        font-size: remify(15);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.5px;
        color: #515151;
        width 67%
        margin 15px 0 0 40px
      a
        margin 15px 0 0 40px

        &:hover
          background-color #df9a2e

        span
           margin-right 30px

.homepage-fold-3
  &-left-column
    flex-basis 50%
    text-align right
    padding-right 100px
  &-right-column
    flex-basis 50%
    display flex
    flex-wrap wrap
    figure
      flex-basis 50%
      margin 0
      padding-bottom 10px
      padding-top 10px
      position relative
      &:nth-child(odd)
        padding-left 0
        padding-right 10px
        span
          left 0
      &:nth-child(even)
        padding-left 10px
        padding-right 0
        span
          left 10px
      img
        width 100%
        height auto
      span
        width: 47px;
        height: 47px;
        background-color: #fcb133;
        position absolute
        bottom 15px
        text-align center
        line-height: 47px;
        color white
        font-family "Gotham"
        display none
  &-title
    justify-content flex-end
    margin-top 70px
  &-subtitle
    font-family: Gotham;
    font-size: remify(45)
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: -0.1px;
    text-align: right;
    color: #232323;
  &-description
    font-family: Gotham;
    font-size: remify(18)
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: 0.5px;
    text-align: right;
    color: #515151;
    margin-top 10px
  &-button
    margin 20px 0 0 auto
.homepage-fold-4
  background-color: #2c3cad;
  margin-top 70px
  &-title
    margin-top 60px
    span
      color white !important
  &-brands
    &-time
      width: 140px;
      height: 42px;
      object-fit: contain;
    &-china
      //width: 271px;
      //height: 37px;
      width 100%
      height auto
      object-fit: contain
      margin 0 50px 0 0
    &-bbc
      width: 161px;
      height: 46px;
      object-fit: contain;
      img
        margin-left 45px
        @media screen and (max-width: 576px)
          margin-left 20px
    &-cnn
      width: 104px;
      height: 48px;
      object-fit: contain
      img
        margin-left 45px
        @media screen and (max-width: 576px)
          margin-left 20px
      //padding-left 50px
    &-cbs
      width: 159px;
      height: 48px;
      object-fit: contain;
  &-brands-container
    margin-top 20px
    a
      figure
        margin 0
  &-owl-nav
    margin-left auto
    margin-top 50px
    margin-bottom 40px
    div:first-child
      border 1px solid white !important
      color white !important
.homepage-fold-5
  &-title
    margin-top 50px
  &-subtitle
    font-family: Gotham;
    font-size: remify(45)
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: -0.1px;
    text-align: left;
    color: #232323;
    flex-basis 100%
  &-description
    font-family: Gotham;
    font-size: remify(18)
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: 0.5px;
    text-align: left;
    color: #515151;
    margin-top 10px
    flex-basis 100%
  &-awards-container
    margin-top 70px
  &-award
    &-title
      margin 10px 0 !important
      span
        font-size remify(27px) !important
      div
        margin-left 20px
    &-subtitle
      font-family: Gotham;
      font-size: remify(17);
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.24;
      letter-spacing: 0.2px;
      color: #242424;
      margin 0 0 20px 0
    &-description
      font-family: Gotham;
      font-size: remify(14);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: 0.5px;
      color: #515151;
    figure
      width 100%
      margin 0
      position relative
      a
        position absolute
        width: 20%;
        height: 20%;
        background-color: #fcb133;
        bottom 0
        right  0
        font-weight: bold;
        line-height 76px
        display flex
        justify-content center
        align-items center
        span
          display none
          font-family Gotham
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.87;
          letter-spacing: 1.4px;
          color: #ffffff;
        img
          height 17px !important
          width 17px !important
        &:hover
          width 60%
          justify-content space-around
        &:hover > span
          display block
  &-owl-nav
    margin-left auto
    margin-top 20px
.homepage-title
  color black
  display flex
  align-items center
  flex-basis 100%
  margin-bottom 20px

  &-line
    width 50px
    height 3px
    border-radius 0.5px
    background-color: #fcb133;
    margin-right 20px
  span
    font-family: "Gotham";
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #232323;

.homepage-button
  background-color #fcb133
  font-size remify(14)
  width 244px
  height 67px
  color white
  text-align center
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.41);
  display flex
  align-items center
  justify-content space-around

  &:hover
    background-color #df9a2e

.homepage-container
  width 85%
  margin 0 auto
  display flex
  flex-direction row
  flex-wrap wrap


.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: #515151;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot.active span:hover {background: #fcb133;}
.owl-theme .owl-dots .owl-dot span:hover {background: #fcb133;}

.owl-nav-custom {
  display flex
}
.owl-nav-custom div {
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  justify-content center
  align-items center

}

.owl-nav-custom div:first-child {
  background-color: transparent;
  border 1px solid black
  margin-right 10px
}
.owl-nav-custom div:last-child {
  background-color: #fcb133;
  color black
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.41);
}

@media screen and (max-width: 992px) // Used for portrait tablets
  .homepage-fold-1
    &-title
      font-size remify(50)
    &-subtitle
      font-size remify(19.7)
      margin-top 30px
    &-button
      width 244px
      height 67px
      margin-top 40px

  .homepage-fold-2
    &-container
      width 90%
    &-description
      flex-basis 64%
      font-size: remify(27);
    &-reach
      margin-top 40px
      flex-wrap wrap
      justify-content center
      &-image
        flex-basis 50%
      &-description
        flex-basis 50%
        div
          margin 0 0 0 40px
          width 80%
          font-size: remify(12);
        a
          margin 15px 0 0 40px

  .homepage-fold-3
    &-left-column
      flex-basis 45%
      padding-right 35px
    &-right-column
      flex-basis 55%
    &-title
      margin-top 30px
    &-subtitle
      font-size: remify(27);
    &-description
      font-size remify(12)

  .homepage-fold-5
    &-subtitle
      font-size remify(27)
    &-description
      font-size remify(12)
    &-awards
      &-container
        margin-top 30px
    &-award
      &-title
        span
          font-size remify(20) !important
      &-subtitle
          font-size remify(15)
      &-description
        font-size remify(11)
      figure
        a
          span
            font-size remify(10)
          img
            height 13px !important
            width 13px !important

  .homepage-container
    width 90%
  .homepage-button
    width: 183px
    height: 57px
  .owl-nav-custom
    div
      height 40px
      width 40px
    @media screen and (max-width: 576px)
      margin-top 40px
@media screen and (max-width: 767px) // Used for landscape phones
  .homepage-fold-1
      &-title
        font-size remify(32)
      &-subtitle
        font-size remify(12)
        margin-top 20px
      &-button
        font-size remify(14)
        width 195px
        height 50px
        margin-top 20px



@media screen and (max-width: 576px)
  .homepage-fold-1
    &-title
      font-size remify(28)
    &-subtitle
      font-size remify(11)
      margin-top 20px
    &-button
      width 210px
      height 58px
      margin-top 20px

  .homepage-fold-2
    &-container
      width 85%
    &-description
      flex-basis 100%
      font-size: remify(27);
    &-reach
      margin-top 25px
      flex-wrap wrap
      justify-content center
      &-image
        flex-basis 100%
      &-description
        flex-basis 100%
        div
          margin 0 0 0 0
          width 80%
          font-size: remify(15);
          margin-top 15px
          text-align left
        a
          margin: 15px 0 0 0;
  .homepage-fold-3
    &-left-column
      flex-basis 100%
    &-right-column
      flex-basis 100%
      margin-top 30px
    &-title
      justify-content flex-start
    &-subtitle
      text-align left
    &-description
      font-size: remify(15);
      text-align left
      br
        display none
    &-button
      margin 15px auto 0 0

  .homepage-fold-5
    &-description
      font-size remify(15)
    &-awards
      &-container
        margin-top 30px
    &-award
      &-title
        span
          font-size remify(27) !important
      &-subtitle
        font-size remify(17)
      &-description
        font-size remify(14)
      figure
        a
          span
            font-size remify(17)
          img
            height 13px !important
            width 13px !important


  .homepage-container
    width 85%
  .homepage-button
    width: 197px;
    height: 51px;

  .owl-nav-custom
    div
      height 50px
      width 50px


