{% extends "partials/base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="homepage-fold-1">
  <div class="homepage-fold-1-title">
    The World’s First <span>Water Filter <br>For Pennies</span>, Not Dollars
  </div>
  <div class="homepage-fold-1-subtitle">
    Folia filter papers eliminate bacteria, viruses, and other <br> pathogens,
    making your tap and tubewell water safe to drink
  </div>
  <a href="#" class="homepage-fold-1-button">
    <span>FOLIA WATER</span> <img src="img/icons/bigger_than.png" alt="button icon">
  </a>
</section>
<section class="homepage-fold-2">
  <div class="homepage-fold-2-container">
    <div class="homepage-fold-2-title">
      <div class="homepage-fold-2-title-line"></div>
      <span>FOLIA WATER</span>
    </div>
    <div class="homepage-fold-2-description">
      Helping families worldwide have access to clean, safe tap and tubewell water.
      An affordable, simple replacement to expensive bottled water.
    </div>
    <div class="homepage-fold-2-reach">
      <figure class="homepage-fold-2-reach-image">
        <img src="img/folia-water-reach.jpg" alt="happy people">
      </figure>
      <div class="homepage-fold-2-reach-description">
        <div>
          An astounding 2.1 billion working families lack access to safe drinking water.
          This leads to disease, a high mortality rate, and reduced equitability in societies across the world.
          Folia Water provides the first cost-effective and high-quality solution
        </div>
        <a href="#">
          <span>ABOUT US</span> <img src="img/icons/bigger_than.png" alt="button icon">
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}