<footer class="footer">
  <div class="footer-logo-container">
    <a href="index.html">
      <img src="img/logos/" alt="Logo of the footer">
    </a>
  </div>
  <div>
    <a href="index.html">
      <span>Home</span>
    </a>
    <a href="">
      <span>Contacto</span>
    </a>
  </div>
</footer>
