<footer class="footer">
  <div class="homepage-wrapper footer-container">
    <div class="footer-top">
      <div class="footer-column footer-social">
        <div class="footer-social-items">
          <figure class="footer-social-item">
            <a href="#">
              <img src="img/icons/linkedin-icon.png"
                   srcset="img/icons/linkedin-icon@2x.png 2x,
             img/icons/linkedin-icon@3x.png 3x" alt="linkedin logo">
            </a>
          </figure>
          <figure class="footer-social-item">
            <a href="#">
              <img src="img/icons/vimeo-icon.png"
                   srcset="img/icons/vimeo-icon@2x.png 2x,
             img/icons/vimeo-icon@3x.png 3x" alt="vimeo logo">
            </a>
          </figure>
          <figure class="footer-social-item">
            <a href="#">
              <img src="img/icons/instagram-icon.png"
                   srcset="img/icons/instagram-icon@2x.png 2x,
             img/icons/instagram-icon@3x.png 3x" alt="instagram logo">
            </a>
          </figure>
          <figure class="footer-social-item">
            <a href="#">
              <img src="img/icons/twitter-icon.png"
                   srcset="img/icons/twitter-icon@2x.png 2x,
             img/icons/twitter-icon@3x.png 3x" alt="twitter logo">
            </a>
          </figure>
          <figure class="footer-social-item">
            <a href="#">
              <img src="img/icons/facebook-icon.png" alt="facebook logo">
            </a>
          </figure>
        </div>
      </div>
      <div class="footer-column footer-internal">
        <a href="#">
          FOLIA WATER
        </a>
        <a href="#">
          ABOUT US
        </a>
        <a href="#">
          CONTACT US
        </a>
      </div>
      <div class="footer-column footer-information">
        <div class="footer-information-title">
          ADDRESS
        </div>
        <div class="footer-information-content">
          175 Varick Street New York,
        </div>
        <div class="footer-information-content">
          NY 10014
        </div>
        <div class="footer-information-title">
          EMAIL
        </div>
        <div class="footer-information-content">
          <a href="mailto:info@foliawater.com" target="_blank">
            info@foliawater.com
          </a>
        </div>
      </div>
      <div class="footer-column">
        <figure class="footer-logo">
          <a href="#">
            <img src="img/icons/folia-water-logo.png"
                 srcset="img/icons/folia-water-logo@2x.png 2x,
             img/icons/folia-water-logo@3x.png 3x" alt="folia water logo">
          </a>
        </figure>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-social-label">
        Folia Water 2019 Copyright
      </div>
    </div>
  </div>
</footer>
