<nav class="navbar">
  <div>
    <a href="index.html">
      <img class="navbar-logo" src="img/icons/folia-water-icon-white.png" alt="Folia Water Icon">
    </a>
  </div>
  <div class="navbar-option-container">
    <div class="navbar-option-content">
      <a href="#">
        <span class="navbar-option {% if section == 'index' %} active-section {% endif %}">Home</span>
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#">
        <span class="navbar-option">Folia Water</span>
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="contacto.html">
        <span class="navbar-option">About Us</span>
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="contacto.html">
        <span class="navbar-option">Contact</span>
      </a>
    </div>
    <div class="navbar-option-content navbar-option-language navbar-option-language-content">
      <a href="#">
        <span class="navbar-option language-active">EN</span>
      </a>
    </div>
    <div class="navbar-option-content navbar-option-language-content">
      <a href="#">
        <span class="navbar-option">ES</span>
      </a>
    </div>

  </div>

  <div data-attribute="" class="hamburger-visibility"  id="hamburgerMenu">
    <div class="navbar-hamburguer" data-attribute="">
      <div class="hamburger-line-icon-container" data-attribute="">
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="index.html" data-attribute="">
          <img class="hamburger-logo" src="img/icons/folia-water-icon-white.png" data-attribute="" alt="Hamburger menu logo">
        </a>
      </div>
      <div id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png" alt="Close hamburger menu">
      </div>
    </div>
    <div class="hamburger-menu-body nunitosans-regular" data-attribute="">
      <div class="hamburger-text-container">
        <a href="index.html" data-attribute="">
          <span class="hamburger-text {% if section == 'index' %} hamburger-active {% endif %}">Home</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#" data-attribute="">
          <span class="hamburger-text">Folia Water</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#" data-attribute="">
          <span class="hamburger-text">About Us</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#" data-attribute="">
          <span class="hamburger-text">Contact</span>
        </a>
      </div>
      <div class="hamburger-text-language">
        <a href="#" data-attribute="" class="hamburger-text-language-first">
          <span class="hamburger-text language-active">EN</span>
        </a>
        <a href="#" data-attribute="">
          <span class="hamburger-text">ES</span>
        </a>
      </div>
    </div>
  </div>
</nav>
