.navbar
  font-family "Gotham"
  align-items center
  background-color transparent
  display flex
  height 100px
  justify-content space-between
  left 0
  padding 0 123px
  position fixed
  top 0
  width 100%
  z-index 12

  &-logo
    height 53px
    width 194px

  &-scroll
    align-items center
    background-color #2c3cad
    box-shadow 0 6px 8px 0 rgba(0,0,0,0.2)
    height 100px

  &-option
    color white
    font-size 17px
    width calc(100% + 2px)
    letter-spacing 1.6px

    &:hover
      font-weight bold

    &-container
      display flex
      flex-direction row

    &-content
      margin-left 20px
      position relative

    &-language
      margin-left 100px
      &-content
        span
          letter-spacing 1.4px

.hamburger
  &-visibility
    position absolute

  &-menu
    &-container
      display none

.active-section
  font-weight bold

.language-active
    color #fcb133 !important

@media screen and (max-width: 1034px)
  .navbar
    justify-content space-between
    height 70px
    padding 0 18px

    &-logo
      height 42.4px
      width 155.2px

    &-option
      &-container
        display none

  .hamburger
    background-color transparent
    display flex
    height 33px
    justify-content center
    width 33px

    &-visibility
      cursor pointer
      position initial

    &-logo
      height 42.4px
      width 155.2px

    &-close
      height 16px
      width 16px

    &-menu
      &-container
        background-color #2c3cad
        display inline
        bottom 0
        left 0
        overflow scroll
        padding-bottom 50px
        position fixed
        top 0
        -webkit-transition width 0.5s
        transition width 0.5s
        width 0%
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content space-between
        padding 22px 36px 50px 36px

      &-body
        margin-left 36px

    &-text
      color white
      padding 10px 0
      letter-spacing 1.4px

      &-container
        margin 35px 0

      &-language
        display flex
        flex-direction row

        &-first
          margin-right 20px

    &-active,
    &-text:hover
      font-weight bold

    &-line
      &-icon
        background-color #fff
        height 2px
        width 20px

        &-container
          display flex
          flex-direction column
          justify-content center

        &:nth-child(2)
          margin 4px 0

        &:last-child
          width 12px
